<footer class="footer bg-dark py-3 mt-auto" style="text-align: center;">
  <div class="container">
     <span class="text-muted"> &copy; VanIslandViews 2021, DISCLAIMER: THIS IS NOT A WEBSITE THAT GENERATES WEALTH. THIS WEBSITE IS SIMPLY FOR AN ARTISTIC WEB-DEV PORTFOLIO PROJECT.</span> 
  </div>  
</footer>